.button-row {
  margin: 2vh 5vw 3vh 5vw;
  max-width: 100%;
  text-align: center;
  align-items: center;
  align-content: center;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 0.5rem;

  &__start {
    grid-column: 5 / -1;
  }
}
