@import "../../sass/abstracts/variables";

$digit-color-primary: rgb(255, 255, 255);
$digit-color-secondary: rgb(218, 218, 218);
$digit-color-tertiary: rgb(80, 80, 80);

.separator {
  width: 100%;
  height: 100%;
  color: white;
  transform: translate(25%, 0%);
  background-image: linear-gradient(
    to bottom right,
    $digit-color-primary,
    $digit-color-secondary 70%,
    $digit-color-tertiary 90%
  );
  background-clip: text;
  color: transparent;
  font-size: 6rem;
  line-height: 1.35;
  font-weight: 400;

  @media only screen and (min-width: $bp-mobile-small) {
    font-size: 8.5rem;
  }

  @media only screen and (min-width: $bp-mobile-large) {
    font-size: 12rem;
  }
}
