.start-button {
  width: 100%;
  background-image: linear-gradient(
    to bottom right,
    rgb(255, 255, 255),
    rgb(254, 131, 82) 25%,
    rgb(255, 94, 0),
    rgb(197, 66, 0) 40%,
    rgb(26, 26, 26) 90%
  );
  height: 6rem;
  position: relative;
  border-radius: 0.7rem;

  &:hover,
  &:active {
    cursor: pointer;
  }

  &__content {
    position: absolute;
    width: 96%;
    height: 90%;
    background-image: linear-gradient(
      to bottom right,
      rgb(255, 124, 73),
      rgb(234, 78, 0)
    );
    transform: translate(2%, 5%);
    border-radius: 0.7rem;
    text-align: center;
  }

  &__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 700;
    text-shadow: 0 0 3px rgb(255, 170, 144);
    letter-spacing: 0.05rem;
  }
}
