@import "../../sass/abstracts/variables";

.timer-row {
  font-size: 15rem;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns:
    [time-start] repeat(2, minmax(min-content, [hh-start] 10rem [hh-end]))
    [separator-first-start]
    max-content
    [separator-first-end]
    repeat(2, minmax(min-content, [mm-start] 10rem [mm-end]))
    [separator-second-start]
    max-content
    [separator-second-end]
    repeat(2, minmax(min-content, [ss-start] 10rem [ss-end]))
    [time-end];
  grid-gap: 0.5rem;
  padding: 0 5vw;
  margin-bottom: 1rem;

  @media only screen and (min-width: $bp-mobile-small) {
    grid-gap: 1rem;
  }
}
